<!-- {{this.testTemplate|json}} -->
<div >
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{testName}}</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            
            <form [formGroup]='testForm'>

                <mat-form-field>
                    <input type="text" matInput placeholder="Patient Name" formControlName='patientId' (keyup)="search($event)" [matAutocomplete]="auto">
                </mat-form-field>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onPatientChange($event.option.value)">
                    <mat-option *ngFor="let item of searchResults" [value]="item[1]">{{item[0]}}</mat-option>
                </mat-autocomplete>

                <br>

                <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
  
                <br>

                <div formArrayName="inputobservations" *ngFor="let observation of observations;let i=index">
                    <div [formGroupName]="i" *ngIf="observation.hasOwnProperty('unit') && observation.codedValues.length===0">
                        <mat-form-field>
                            <input type="text" matInput placeholder="{{observation.observationName}}" formControlName='observationValue'>
                        </mat-form-field>
                    </div>
                    <div [formGroupName]="i" *ngIf="observation.hasOwnProperty('codedValues') && observation.codedValues.length!==0">
                        <mat-form-field>
                            <mat-label>{{observation.observationName}}</mat-label>
                            <mat-select formControlName='observationValue'>
                              <mat-option *ngFor="let codedValue of observation.codedValues" [value]="codedValue" >
                                {{codedValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>

                    </div>
                </div >
                <button mat-raised-button (click)="addTestResults()" color="primary">Submit</button>
            </form>
            
        </mat-card-content>
    </mat-card>
</div>
{{this.testForm.value|json}}


