.parent-containor{
    margin-top: 50px;
}
.containor{
    width: 60%;
    margin: 0 auto;
    background-color: #ebebeb;
}

.observationField{
    margin-bottom: 20px;
}

.formbutton{
    margin: 10px;
    max-width: 400px;
}

#addNewObs{
    margin-bottom: 25px;
    margin-top: 5px
}
.mat-card .observation-containor{
    margin:20px;
}

.existing-observation{
  margin: 10px;
}
