<div class="containor">
    <mat-card>
        <mat-card-header>
          <mat-card-title>Create New Test</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form  [formGroup]='createTest'>
              <mat-form-field>
                <input type="text" matInput placeholder="Test Name" formControlName='testName'>
              </mat-form-field>

              <br>

              

              <div formArrayName="observations" *ngFor="let observation of createTest.get('observations').controls; let i=index">
                <div [formGroupName]="i">
                    <mat-card class='observationField'>
      
                      <mat-form-field>
                        <input type="text" matInput placeholder='Observation Name'formControlName="observationName">
                      </mat-form-field>
                      <br>
      
                      <mat-form-field>
                          <input type="text" matInput placeholder='Unit' formControlName="unit">
                      </mat-form-field>
                      <br>
      
                      <mat-form-field>
                          <input type="text" matInput placeholder='ReferenceRange'formControlName="referenceRange">
                      </mat-form-field>
      
                    </mat-card>
                </div>
                
              </div>

              <button type="submit" mat-raised-button (click)="addNewMetaTest()" color='warn' class=formbutton>Submit</button>
              <button id=addNewObs mat-raised-button (click)="addNewObsClick()" color='primary' class=formbutton>Add New Observation</button>

            </form>
        </mat-card-content>
      </mat-card>
      
</div>

