.mat-card-actions .flex-spacer {
    width: 100%;
  }
.outer{
    padding:100px;
}
.adminLinks{
    margin-left: 220px;
    
}

button{
    width: 150px;
    height: 150px;
    margin:50px;
    background-color: darkorchid;
}