<div class="containor">

  <div class="info">
    <div class="field">
      <label >Test Name</label>
      <span>{{testName}}</span>
    </div>
    <div class="field">
      <label >Patient</label>
      <span>{{userName}}</span>
    </div>
  </div>
  <div class="table-containor">
    <table mat-table [dataSource]="datasource" class="mat-elevation-z8">


      <ng-container matColumnDef="tests">
        <th mat-header-cell *matHeaderCellDef> Test </th>
        <td mat-cell *matCellDef="let element"> {{element.test}} </td>
      </ng-container>


      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Observation </th>
        <td mat-cell *matCellDef="let element"> {{element.observation}} </td>
      </ng-container>


      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef> Unit </th>
        <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
      </ng-container>


      <ng-container matColumnDef="referenceRange">
        <th mat-header-cell *matHeaderCellDef> Refference Range </th>
        <td mat-cell *matCellDef="let element"> {{element.referenceRange}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColums" class="header-row"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColums;"></tr>
    </table>
  </div>
  <div class="footer">
    <button mat-raised-button color="primary" (click)="delete()">Delete</button>
  </div>
</div>
