<div class="containor">
  <mat-selection-list #tests [(ngModel)]="selectedValues">
    <mat-list-option *ngFor="let item of testList;let i=index" [value]="item._id">
      <p>{{i+1}})
      {{ item.testName }}
      ({{item.date|date}})
      </p>
    </mat-list-option>
  </mat-selection-list>
</div>
<div class="empty" *ngIf="testList.length===0">
  <h3>No Test Reports</h3>
</div>
<div class="footer">
  <button mat-raised-button color="primary"
          matBadge="value" matBadgePosition="postion"
          matBadeColor="red" (click)="download()">Download
  </button>
</div>


