<mat-toolbar color='primary' class="header mat-elevation-z5 " >
  <span><img src="assets/images/logo.jpg" alt=""></span>
  <span class="example-fill-remaining-space"></span>
  <span>
      <button mat-button [matMenuTriggerFor]="menu1">Menu</button>
        <mat-menu #menu1="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
    </span>
  <span><button mat-icon-button [routerLink]="['lab-empolyee-profile']">
        <mat-icon aria-label="label">home</mat-icon>
    </button>
  </span>
  <span>
        <button mat-icon-button (click)="logout()">
        <mat-icon aria-label="label">logout</mat-icon>
    </button>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>
