.containor{
  margin-top: 10%;
}
.o-containor{
    width: 50%;
    margin: auto;
    padding: 50px;
    background-color: #eaf3ee;
}
.mycard {
    text-align: center;
    padding: 10px;
    border: 1px solid #d3d3d3;
}
  
.my-img {
    margin: 0 auto;
}
