<!-- <mat-sidenav-container class="side-nav-containor">
  <mat-sidenav #sidenav class="mat-elevation-z4" mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <mat-icon matListIcon>setting</mat-icon>
        <h3 matLine>Hello</h3>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div class="container">
  </div>
</mat-sidenav-container> -->
<mat-sidenav-container class="example-container" >
  <mat-sidenav class="mat-elevation-z8" mode="side" opened>
    <mat-nav-list>
      <mat-list-item [routerLink]="[ 'edit-profile']">
        <h4 matLine>Edit Profile</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="[ 'view-testList']">
        <h4 matLine>My Tests</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
  
